<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
    <div>
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        placeholder="type name..."
        name="name"
        #name="ngModel"
        ngModel
      />
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email"
        placeholder="type email..."
        ngModel
      />
    </div>
    <div>
        <label for="phone">Phone Number</label>
        <input
          type="tel"
          name="phone"
          [(ngModel)]="user.phone"
          required
          placeholder="Enter phone number"
          [pattern]="'^[0-9]{10}$'"
        />
      </div>
    <button type="submit">Submit</button>
  </form>
